{% extends 'laboratorio/base.html' %}
{% block content %}

<h1 class="card-title text-dark fw-bolder">Información de Laboratorios</h1>
<br>

<table class="table table-bordered shadow p-3 mb-5 bg-body rounded">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Pais</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for laboratorio in laboratorios %}
            <tr>
                <td>{{laboratorio.nombre}}</td>
                <td>{{laboratorio.ciudad}}</td>
                <td>{{laboratorio.pais}}</td>
                <td>
                <a href="{% url 'editar_lab' laboratorio.pk  %}">Actualizar</a>
                </td>
                <td>
                <a href="{% url 'eliminar_lab' laboratorio.pk %}">Eliminar</a>
                </td>
                </tr>
        {% endfor %}
    </tbody>
  </table>
  <p>Usted ha visitado esta pagina {{num_visitas}} veces</p>
  <div class="col-6 m-3 p-1 alert alert-danger" role="alert">
    <br><a href="{% url 'insertar_lab' %}">Agregar Nuevo Laboratorio--></a>
</div>

{% endblock content %}